.container {
  width: 100%;
  padding: 1rem;
  text-align: center;
  margin: 3rem auto;

  .header__title {
    font-size: 32px;
    font-style: italic;
    font-weight: 400;
  }

  .header__bio {
    margin: 2rem 0 3rem 0;
    display: block;

    &_left {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      justify-items: flex-start;
      p {
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
        text-align: center;
      }

      small {
        margin-top: 0.5rem;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
      }
    }
  }

  .blogs__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}
