.header {
  margin: 1rem auto;
  padding: 2rem;
  text-align: center;

  &_first,
  &_second {
    color: black;
    display: block;
    letter-spacing: 4px;
    word-spacing: 8px;
    font-size: 68px;
    font-style: italic;
    font-weight: 700;
  }

  hr {
    width: 40%;
    margin: 1rem auto;
    height: 2px;
  }
}

.skills {
  width: 40%;
  text-align: center;
  margin: 1rem auto 2rem;
  &__list {
    display: flex;
    flex-direction: row;
    &_item {
      flex: 1;
      font-weight: 400;
      font-size: 18px;
    }
  }
}

.cards {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-evenly;
  width: 100%;
}
