.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1rem;
  .title {
    flex: 1;
    font-weight: 700;
    font-size: 20px;
    padding: 0.3rem 0;
  }

  .date {
    flex: 1;
    font-size: 12px;
    font-weight: 300;
    color: #626262;
    opacity: 0.7;
    padding: 0.3rem 0;
  }

  .description {
    flex: 1;
    text-align: left;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
    margin-bottom: 0.75rem;
  }

  .footer{
    flex: 1;
    display: flex;
    width: 100%;
    flex-direction: row;
    position: relative;
    padding: 8px 0;
  }

  .tags{
    flex: 1;
    text-align: left;

    .tag{
      border: none;
      border-radius: 3px;
      outline: none;
      background-color: rgba(0, 0, 0, 0.8);
      color: white;
      padding: 4px 12px;
      margin-right: 12px;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        box-shadow: 0 0 0 18px transparent;
        animation: pulse 1s;
      }
    }
  }

  .readmore {
    text-align: right;
    flex: 1;
    border: none;
    transition: 0.3s;
    font-size: 14px;
    font-weight: 400;
    margin-right: 1rem;
    padding: 0.3rem 0;
    color: #424242;
    position: relative;

    &::before,
    &::after {
      position: absolute;
      content: "";
      right: 0;
      width: 100px;
      height: 1px;
      background: rgba(0, 0, 0, 0.3);
      opacity: 0;
      transform: scaleX(0);
      transition: 0.4s ease-in-out;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    &:hover {
      letter-spacing: 5px;
      color: #000;
      font-weight: 700;
      background: transparent;

      &::before,
      &::after {
        opacity: 1;
        transform: scaleX(1.2);
      }
    }
  }
}

@keyframes pulse {
  from {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3);
  }
}