.container {
  width: 100%;
  .navbar {
    width: 90%;
    margin: auto;
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .navbar__header {
      flex: 4;
      display: flex;
    }

    .navbar__right {
      flex: 1;
      display: flex;
      flex-direction: row;
      align-items: center;

      &_item {
        flex: 1;
        text-align: center;
      }
    }
  }
}

li a {
  text-transform: uppercase;
  font-weight: 400;
  color: #424242;
  border-bottom: none;
  background-image: none;
  text-shadow: none;
}

li a:hover,
li a:active {
  background-color: #323232;
  color: white;
  padding: 0.4rem 0.6rem;
  border-radius: 1.5px;
  font-weight: 550;
  border-bottom: none;
  background-image: none;
  text-shadow: none;
}

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  //CSS
}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  //CSS
  .navbar__header {
    flex: 4;
  }

  .navbar__right {
    flex: 1;
  }
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  //CSS
  .navbar__header {
    flex: 2 !important;
  }

  .navbar__right {
    flex: 1 !important;
  }
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  //CSS
  .navbar__header {
    flex: 1 !important;
  }

  .navbar__right {
    flex: 1 !important;
  }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  //CSS
  .navbar__header {
    flex: 1 !important;
  }

  .navbar__right {
    flex: 2 !important;
  }
}
